
<div class="panel panel-info">
    <div class="panel-heading">Contact Details: ID {{model.contactId}}</div>
    <table class="table">
        <tr>
            <td>First Name:</td>
            <td>{{ contact.firstName }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ contact.lastName }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>{{ contact.phoneNumber |tel }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ contact.gender }}</td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td>{{contact.birthay| date}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ contact.description }}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>City: {{ contact.city }} Country: {{ contact.country }} State: {{ contact.state }}</td>
        </tr>

    </table>

</div>


<div class="panel panel-info">
    <div class="panel-heading">Upload Profile Photo</div>
    <div class="panel-body">
        <span class="btn btn-success btn-file">
            Browse… <input type="file" name="file" fileread="contact.photo">
        </span>
        <img src="{{contact.photo}}" width="300" height="300" alt="Image preview...">
        <br />
        <!--<p>
            Image dataURI:
            <pre>{{contact.photo}}</pre>
        </p>-->
        <br />
        <button class="btn btn-success btn-file" ng-click="uploadImage(contact.photo)">Upload image</button>
    </div>
</div>
