<div class="display-wrap">
    <div class="leftm15 topm10" ng-transclude>
    </div>
    <div class="main-content-1">
        <div flow-init="{target: url, testChunks: false }"
             flow-file-success="flowFileSuccess($message)"
             flow-complete="flowComplete()"
             flow-error="flowError($file, $message, $flow.files)"
             flow-file-added="flowFileAdded($file, $event)">

            <div class="clear margin15" flow-drop flow-drag-enter="style={border:'2px dashed green'}" flow-drag-leave="style={}" ng-style="style" ng-class="{drop: isDropFilesSupported}">
                <span flow-btn class="btn btn-default">Upload File</span>
                <span ng-show="isDropFilesSupported">
                    <b>OR</b>
                    Drag And Drop your file here
                </span>

                <button type="button" class="btn btn-default float-right topm2" ng-click="startUpload($flow)" ng-disabled="$flow.files.length == 0">Start upload</button>
            </div>

            <!--<files-grid grid-data="$flow.files"
                        total-server-items="$flow.files.length"
                        show-empty-message="There are no files to display - try uploading one."
                        is-empty="$flow.files.length == 0">
            </files-grid>-->
        </div>
    </div>
</div>