@{
    Layout = null;
}

<!DOCTYPE html>
<html data-ng-app="contact" id="ng-app" lang="sv">
<head>
    <title>Contact App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/css/Site.css" />
    <link rel="stylesheet" type="text/css" href="../Content/ui-grid/ui-grid.css">
    <link rel="stylesheet" type="text/css" href="../Content/toastr/toastr.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular-route.js"></script>
    <script type="text/javascript" src="../Scripts/ui-grid.js"></script>
    <script type="text/javascript" src="../Scripts/ui-bootstrap-tpls-2.2.0.js"></script>
    <script type="text/javascript" src="../Scripts/toastr.js"></script>
   
</head>
<body class="body">
    
    <div ng-view></div>

    @Scripts.Render("~/bundles/app")

</body>
</html>
