#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

.ng-invalid.ng-dirty {
    border-color: palevioletred;
}

.ng-valid.ng-dirty {
    border-color: greenyellow;
}

.tableBody {
    overflow: scroll;
    height: 100px;
}


.modal {
    display: block;
}

.modal-backdrop.in {
    opacity: .1;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.gridStyleContact {
    width: 100%;
}

.contact-name:hover {
    color: #6d90d9;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.datepickerdemo md-content {
            padding-bottom: 200px; 
         }
        .datepickerdemo .validation-messages {
            font-size: 11px;
            color: darkred;
            margin: 10px 0 0 25px; 
         }

.entity-datepicker {
    width: 205px !important;
    padding: 4px 6px !important;
}

.entity-normal {
    width: 350px !important;
    /*padding: 4px 6px !important;*/
}

.input-date-picker:hover {
    cursor: pointer;
}

.display-filter-wrap .date-pick-wrap .input-date-picker {
    width: 206px;
    height: 20px;
    padding: 4px 6px;
}

.fileinput-button input {
  position: static;
  opacity: 1;
  filter: none;
  font-size: inherit;
  direction: inherit;
}
.fileinput-button span {
  display: none;
}

.bg-gray {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 0 25px -7px #d7d7d7;
    margin-bottom: 15px;
}

.bg-white {
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 0 25px -7px #d7d7d7;
}

.app-title {
    margin-left:20px;
   font-size: 30px;
}

.gender{
    font-size:14px;
}

#header .menu-item{  
    float: right;
    padding: 5px;
    padding-right: 40px;
    font-size: 20px;
}

.back{
     float: left;
     font-size: 20px;
}

.pull-right.details {
    margin-left: 3px;
}

.pull-left.details {
    margin-right: 3px;
}

/*th, td {
    padding: 15px;
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
}*/

tr:hover {background-color: #f5f5f5}

.left-side-panel{
   width: 200px;
}

 .container.contact{
     display:block;

}
/*tr:nth-child(even) {background-color: #f2f2f2}*/


.drop {
    border: 2px dashed #ddd;
    border-radius: 5px;
    line-height: 34px;
    padding: 15px;
}

.no-animation-modal {
  top: 25% !important;
  opacity: 1 !important;
}