<table class="table table-bordered table-hover" style="width: 800px">
    <tr>
        <th>#</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="text" data-ng-model="search.firstName" />
        </td>
        <td>
            <input type="text" data-ng-model="search.lastName" />
        </td>
        <td>
            <input type="text" data-ng-model="search.email" />
        </td>
        <td></td>
    </tr>

    <tr data-ng-repeat="contact in contacts | filter:search">
        <td><strong data-ng-hide="contact.editMode">{{ contact.id }}</strong></td>
        <td>
            <p data-ng-hide="contact.editMode">{{ contact.firstName }}</p>
            <p data-ng-show="contact.editMode">
                <input type="text" data-ng-model="contact.firstName" />
            </p>
        </td>
        <td>
            <p data-ng-hide="contact.editMode">{{ contact.lastName }}</p>
            <p data-ng-show="contact.editMode">
                <input type="text" data-ng-model="contact.lastName" />
            </p>
        </td>
        <td>
            <p data-ng-hide="contact.editMode">{{ contact.email }}</p>
            <input data-ng-show="contact.editMode" type="text" data-ng-model="contact.email" />
        </td>
        <td>
            <p data-ng-hide="contact.editMode"><a data-ng-click="toggleedit(contact)" href="javascript:;">Edit</a> | <a data-ng-click="delcontact(contact)" href="javascript:;">Delete</a></p>
            <p data-ng-show="contact.editMode"><a data-ng-click="save(contact)" href="javascript:;">Save</a> | <a data-ng-click="toggleedit(contact)" href="javascript:;">Cancel</a></p>
        </td>
    </tr>
</table>
<hr />
