
<div>
    <div class="modal-content">
        <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            <h4 class="modal-title">Add Contact</h4>
        </div>
        <div class="modal-body">

            <form name="addContact" novalidate>
                <fieldset class="form-group">
                    <input type="text" data-ng-model="newcontact.firstName" placeholder="First Name" required title="FirstName" />
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" data-ng-model="newcontact.lastName" placeholder="Last Name" required title="LastName" />
                </fieldset>
                <fieldset class="form-group">
                    <input type="email" class="form-control" ng-model="newcontact.email" placeholder="jimmyDean@example.org" title="Email" required />
                </fieldset>

                <fieldset class="form-group">
                    <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short description of the contact..." title="Description" required></textarea>
                </fieldset>
               
        </div>
        <div class="modal-footer">
            <fieldset class="form-group">
            <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addContact.$valid" class="btn btn-primary" />
            <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
            </fieldset>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
